In [1]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
data = pd.read_csv('Realtime_NN_Categorical.csv',header = None)
data

             0         1  2
0     3.295837  0.150577  A
1     3.295898  0.172088  A
2     3.295959  0.236621  A
3     3.296021  0.232372  A
4     3.296082  0.185632  A
...        ...       ... ..
7096  6.493408 -0.084716  A
7097  6.493469 -0.086575  A
7098  6.493530 -0.071969  A
7099  6.493591 -0.010357  A
7100  6.493652  0.067454  A

[7101 rows x 3 columns]

In [3]:
data.columns = ['X', 'Y','Decision']
data

             X         Y Decision
0     3.295837  0.150577        A
1     3.295898  0.172088        A
2     3.295959  0.236621        A
3     3.296021  0.232372        A
4     3.296082  0.185632        A
...        ...       ...      ...
7096  6.493408 -0.084716        A
7097  6.493469 -0.086575        A
7098  6.493530 -0.071969        A
7099  6.493591 -0.010357        A
7100  6.493652  0.067454        A

[7101 rows x 3 columns]

In [4]:
# Count the number of distinct Decision values
num_distinct_decisions = data['Decision'].value_counts()
num_distinct_decisions

B    4704
C    1561
A     825
D      11
Name: Decision, dtype: int64

In [5]:
# Split the data into 80% training and 20% testing sets
X = data[['X', 'Y']]
y = data['Decision']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [6]:
# Create and fit the logistic regression model
model = LogisticRegression(multi_class='auto', max_iter=1000)
model.fit(X_train, y_train)

LogisticRegression(max_iter=1000)

In [7]:
# Predict the target values for the test set
y_pred = model.predict(X_test)
y_pred

array(['C', 'B', 'B', ..., 'B', 'B', 'B'], dtype=object)

In [8]:
# Create a DataFrame with Actual, Predicted, X, and Y values
comparison = pd.DataFrame({
    'X': X_test['X'],
    'Y': X_test['Y'],
    'Actual': data['Decision'].iloc[y_test.index],
    'Predicted': y_pred
})

print(comparison)

             X         Y Actual Predicted
6094  6.432251  0.010888      C         C
4447  6.331726  0.023901      B         B
4677  6.345764  0.184570      B         B
4832  6.355225 -0.718627      B         B
3796  6.291992  0.026291      B         B
...        ...       ...    ...       ...
6521  6.458313 -0.124286      C         C
3829  6.294006  0.093745      B         B
1649  6.160950  0.123489      B         B
4819  6.354431 -0.129597      B         B
1720  6.165283 -0.051786      B         B

[1421 rows x 4 columns]

In [9]:
accuracy = accuracy_score(y_test, y_pred)
accuracy

0.8634764250527798